/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background: url('../src/images/bgImage.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  height: 100%;
}

.signIn-login-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}
/* src/PaymentOptions.css */
.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.payment-options {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-top: 20px;
}

.payment-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-option img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.payment-option span {
  font-size: 18px;
}


/* Additional styles for responsiveness */
@media (max-width: 576px) {
  .signIn-login-box {
    width: 90%;
  }
}